@tailwind base;
@tailwind components;
@tailwind utilities;

/* @see https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer components {
  .btn {
    @apply bg-lime-500 text-white font-bold py-2 px-4 rounded;
  }
}
